html {
  background: #ffffff;
  overflow-x: hidden;
}

body,
#root {
  overflow-x: hidden;
}

body {
  width: 100%;
}

#root {
  width: 100%;
  min-width: 1000px;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}
